{% extends 'base.html' %}
{% block content %}
    <div class="site-header-logo">
        <h1 class="text-center" align="center">
            Steam Games Analysis
        </h1>
    </div>

    <div class="row p-4">
        <div class="card m-auto" style="width: 90%;" data-aos="fade-left">
            <div class="card-body">
                <div id="chart1"></div>
                <p class="card-text" align="center">A pie chart that shows what percentage of games are supported 
                    on which operating system.
                </p>
            </div>
            </div>
        </div>

        
    </div>
    <!-- plotly CDN -->

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs1 = {{ graph1JSON | safe}};
        Plotly.plot("chart1", graphs1,{});

    </script>

{% endblock %}